.container{
    width: 1440px;
}
.part-a{
    /* background-color: rgb(185, 185, 189); */
    width: 100%;
    height: 750px;
    /* border: 1px solid rgb(24, 23, 23); */
}
.navbar{
    background-color: white;
    width: 100%;
    height: 10%;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.logo{
    /* background-color: hotpink; */
    justify-content: space-around;
    margin-left: 80px;
}
.options{
    display: flex;
    /* background-color: violet; */
    width: 430px;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}
.options p{
    font-weight: 500;
    font-size: 20px;
}
.icons{
    width: 250px;
    /* background-color: seagreen; */
    justify-content: space-around;
    align-items: center;
    display: flex;
    margin-right: 80px;
}
.hero{
    background: url('./assets/images/background.svg');
    position: relative;
    /* background-color: blue; */
    width: 100%;
    height: 90%; 
}
.advert-area{
    background-color: #fff3e3;
    width: 643px;
    height: 443px;
    position: absolute;
    top: 80px;
    right: 50px;
    padding: 40px;
}
.advert-area h6{
    font-size: 20px;
    font-weight: 400;
    color: #333333;
}
.advert-area h2{
    font-size: 52px;
    font-weight: 700;
    color: #b88e2f;
    padding-top: 0;
}
.advert-area p{
    font-size: 20px;
    font-weight: 500;
    padding: 0;

}
.advert-area button{
    width: 222px;
    height: 74px;
    background-color: #b88e2f;
    color: white;
    font-size: 18px;
}
.part-b{
    background-color: white;
    width: 100%;
    height: 750px;
    /* border: 1px solid rgb(24, 23, 23); */
}
.browse-text{
    /* background-color: orange; */
    width: 100%;
    height: 10%;
    text-align: center;
}
.browse-text h2{
    font-weight: bolder;
    font-family: poppins;
    font-size: 32px;
}
.browse-text p{
    font-weight: 400;
    font-size: 20px;
}
.image-area{
    /* background-color: green; */
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding-top: 30px;
}
.image-a{
    /* background-color: purple; */
    width: 400px;
    height: 600px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.image-b{
    /* background-color: purple; */
    width: 400px;
    height: 600px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.image-c{
    /* background-color: purple; */
    width: 400px;
    height: 600px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.images{
    /* background-color: aqua; */
    width: 400px;
    height: 400px;
    border-radius: 10px;
}
.images img{
    width: 400px;
    height: 500px;
    object-fit: cover; 
    border-radius: 12px;   
}
.image-area p{
    font-size: 25px;
    font-weight: bold;
}
.part-c{
    width: 100%;
    height: 1220px;
    /* border: 1px solid rgb(24, 23, 23); */
    justify-content: center;
    align-items: center;
    text-align: center;
}
.part-c h2{
    color: #3a3a3a;
    font-size: 40px;
    font-weight: 700;
}
.display-a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    text-align: left;
}
.syltherine{
    background-color: #F4F5F7;
     width: 286px;
    height: 446px;
}
.leviosa{
    background-color: #F4F5F7;
    width: 286px;
   height: 446px;
}
.lolito{
    background-color: #F4F5F7;
    width: 286px;
   height: 446px;
}
.respira{
    background-color: #F4F5F7;
     width: 286px;
    height: 446px;
}
.display-b{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 40px;
}
.grifo{
    background-color: #F4F5F7;
     width: 286px;
    height: 446px;
}
.muggo{
    background-color: #F4F5F7;
     width: 286px;
    height: 446px;
}
.pingky{
    background-color: #F4F5F7;
    width: 286px;
   height: 446px;
}
.potty{
    background-color: #F4F5F7;
     width: 286px;
    height: 446px;
}
.pic{
    /* background-color: blue; */
    width: 285px;
    height: 301px;
    position: relative;
}
.product-text{
    width: 265px;
    height: 145px;
    background-color: #f4f5f7;
    text-align: left;
    padding-left: 20px;
    margin-top: -2px;
}
.promo-sy{
    width: 70px;
    height: 70px;
    border-radius: 90px;
    background-color: #ed7171;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    font-weight: 500;   
    display: flex;
    position: absolute;
    top: 24px;
    left: 195px;
}
.promo-lo{
    width: 70px;
    height: 70px;
    border-radius: 90px;
    background-color: #ed7171;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    font-weight: 500;   
    display: flex;
    position: absolute;
    top: 24px;
    left: 195px;
}
.promo-re{
    width: 70px;
    height: 70px;
    border-radius: 90px;
    background-color: #2ec1ac;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    font-weight: 500;   
    display: flex;
    position: absolute;
    top: 24px;
    left: 195px;
}
.promo-mu{
    width: 70px;
    height: 70px;
    border-radius: 90px;
    background-color: #2ec1ac;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    font-weight: 500;   
    display: flex;
    position: absolute;
    top: 24px;
    left: 195px;
}
.promo-po{
    width: 70px;
    height: 70px;
    border-radius: 90px;
    background-color: #2ec1ac;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    font-weight: 500;   
    display: flex;
    position: absolute;
    top: 24px;
    left: 195px;
}
.promo-pi{
    width: 70px;
    height: 70px;
    border-radius: 90px;
    background-color: #ed7171;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    font-weight: 500;   
    display: flex;
    position: absolute;
    top: 24px;
    left: 195px;
}
.pic img{
    width: 100%;
    height: 100%;
}
.show-button{
    width: 245px;
    height: 48px;
    border: 1px solid #b88e2f;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    background-color: white;
    color: #b88e2f;
    margin-top: 20px;
}
.part-d{
    width: 100%;
    height: 670px;
    background-color: #fcf8f3;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* border: 1px solid black; */
}
.part-d_text{
    /* background-color: aqua; */
    width: 500px;
    height: 582px;
  }
.part-d_first{
    /* background-color: orange; */
    width: 404px;
    height: 582px;
    margin-left: -150px;
}
.part-d_second{
    /* background-color: blue; */
    width: 372px;
    height: 582px;
    margin-left: -100px;
}
.part-d_text h2{
    font-size: 40px;
    font-weight: 700;
    /* background-color: purple; */
    margin-top: 175px;
}
.part-d_text p{
    font-size: 18px;
    font-weight: 500;
    /* background-color: #ed7171; */
    width: 368px;
}
.part-d_text button{
    width: 176px;
    height: 48px;
    background-color: #b88e2f;
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border: none;
}
.part-e{
    text-align: center;
    position: relative;
    width: 100%;
    height: 800px;
}
.part-e p{
    font-size: 22px;
    font-weight: 600;
}
.part-e h2{
    font-size: 40px;
    font-weight: 700;
    position: absolute;
    top: -5px;
    left: 560px;
}
.image-i{
    position: absolute;
    top: 30px;
    left: 0;
}
.image-ii{
    position: absolute;
    top: 99px;
    left: 91px;
    width: 451px;
    height: 312px;
}
.image-iii{
    position: absolute;
    left: 560px;
    top: 182px;
    width: 295px;
    height: 392px;
}
.image-iv{
    position: absolute;
    left: 870px;
    top: 120px;
}
.image-v{
    position: absolute;
    top: 0;
    right: 0;
}
.image-vi{
     position: absolute;
     left: 0;
     top: 425px;
}
.image-vii{
    position: absolute;
    top: 425px;
    left: 200px;
}
.image-viii{
    position: absolute;
    left: 870px;
    top: 483px;
}
.image-ix{
    position: absolute;
    top: 483px;
    left: 1070px;
}
.part-f{
    width: 100%;
    height: 505px;
    /* background-color: green; */
    padding-left: 90px;
}
.funiro-text{
    /* background-color: #2ec1ac; */
    width: 350px;
    height: 400px;
}
.funiro-text h2{
    font-size: 24px;
    font-weight: 700;
}
.funiro-text p{
    font-size: 16px;
    font-weight: 400;
    /* background-color: orange; */
    width: 285px;
    height: 72px;
}
.part-i{
    display: flex;
}
.form-part{
    display: flex;
    justify-content: space-between;
    gap: 150px;
}
.form-part h4{
    font-size: 16px;
    font-weight: 500;
    color: #9f9f9f;
}
.form-part p{
        font-size: 16px;
        font-weight: 500;
        color: #000000;
}